* {
  font-family: "Open Sans", sans-serif;
}

li {
  padding-top: 15px;
}

header h1 {
  color: #a10000;
}

header h1 + p {
  background-color: #ebebeb;
  padding: 16px;
}

section {
  padding: 5px;
}

footer {
  padding-left: 5px;
}

footer section {
  display: flex;
  flex-direction: row;
}

footer section img {
  padding-right: 10px;
}
