/*Ultra-tiny reset*/
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

/*Custom Classes*/
.content {
  background: #fcfcfc;

  max-width: 1280px;
}

.top-banner {
  object-fit: cover;
  width: 1280px;
  height: 500px;

  max-width: 1280px;
  max-height: 500px;

  border: 1px;
  border-color: #fcfcfc;
}

li {
  padding-top: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 50px 0 50px;
  background: #a100004d;

  min-width: 100vh;
  min-height: 100vh;

  margin: 0;
}

/* Header Style*/
header {
  padding: 20px 50px 0 50px;
}

header h1 {
  color: #a10000;
}

header h1 + p {
  background-color: #ebebeb;
  padding: 16px;
}

/* Main Body Style*/
section {
  padding: 10px 50px 0 50px;
}

/*Footer Style*/
footer {
  padding: 20px 50px 0 50px;
  margin-bottom: 50px;
}

footer div {
  display: flex;
  flex-direction: row;
}

footer .content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
}

footer .content img {
  object-fit: cover;
  width: 580px;
  height: 467px;
}
